header, footer, nav 
{  
    margin: 0;
    padding: 0;
    border: none;
}

#nav
{ 
    position: absolute;
    left: 10px;
    top: 110px;
    width: 200px;
    bottom: 30px;
    background-color: #04d5e4;
}
#content
{  
    position: absolute;
    left: 210px;
    right: 10px;
    top: 110px;
    bottom: 30px;
    padding:10px;
    overflow: auto;
    background: transparent url("img/wasser.jpg");
}

#header 
{
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    height: 100px;
    background: transparent url("img/aquarium.jpg");
    text-align: center;
   
}

#footer 
{
    position: absolute;
    height: 100px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    background-color: #350bf3;
}

#nav a, #nav a:visited, #nav a:hover, #nav a:focus 
{
    display: block;
    height: 2em;
    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 1.6em;
    padding: 2px 10px 0 0;
    font-variant: small-caps;
    font-weight: bold;
}

.ausgewaehlt
{
    color: red;
    opacity: 0.4;
}

ol
{
    width: 10em;
    list-style-type:none
} 

.details 
{
position: absolute;
right: 50%;
top: 10%;
background-color: white;
border: 0.5em solid white;
border-radius: 8px 8px 8px;
padding: 0em 0em 0em;
width: 25em;
max-height: 20em;
overflow: auto;
display: none;
}

.details img 
{
width: 100%;
}

.details:target 
{
display: block;
}

.close 
{
width:0;
height:0;
border: 0; 
text-shadow: none; 
color: transparent;
}
.close:after 
{
position: absolute;
bottom: 0.2em;
right: 0.3em;
content:"X";
font-family:sans-serif;
color: grey;
border: 0.1em solid black;
border-radius: 8px 8px 8px;
display: block;
text-align:center;
width: 1.5em;
height:1.2em; padding:0.2em 0 0 0em;
}
